.add-note-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    gap: 20px; /* Расстояние между элементами */
    padding: 20px;
  }
  