.add-note-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    gap: 20px; /* Расстояние между элементами */
    padding: 20px;
  }
  
  .save-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Синий фон */
    color: white; /* Белый текст */
    border: none;
    border-radius: 4px; /* Закругленные углы */
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход цвета фона */
  }
  
  .save-button:hover {
    background-color: #0056b3; /* Темный синий фон при наведении */
  }